<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        .map { position:absolute; top:0; bottom:0; }
    </style>
</head>
<body>
    <div id='map-wrap' style='width: 1265px; height: 700px'>
        <div id='map-leaflet' class='map' style='width: 1265px; height: 700px'> </div>
    </div>
    <form>
        <input id="name" type="text" name="name" placeholder="Name" value="Steve">
        Latitude:  <input class="updates" type="number" name="lat"    id="lat"   min="55.00000" max="56.00000" step="0.00001" value="55.871341">
        Longitude: <input class="updates" type="number" name="lng"    id="lng"   min="-5.00000" max="-4.00000" step="0.00001" value="-4.287879">
        Angle:     <input class="updates" type="number" name="angle"  id="angle" min="0" max="360" step="3" value="0">
        Health:    <input class="updates" type="number" name="health" id="check-health" min="0" max="5" step="1" value="3">
        Exp:       <input class="updates" type="number" name="experience" id="check-exp" min="0" max="200" step="20" value="0">
    </form>
    <button id="join">Join Room</button>
    <button id="fire">Fire</button>
    <button id="emp">EMP</button>
    <div id='players'></div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiZGFyZWFsZG9kbyIsImEiOiJjaXViMnZtMnQwMDBpMzNwcmFuajZ2Y3U2In0.YoZtUZYEUoZFjJ5UN8V1IA';
        var mapLeaflet = L.mapbox.map('map-leaflet', 'mapbox.dark')
          .setView([55.8715, -4.2880], 15);
        console.log(L);
    </script>
    <script src="/rotate"></script>
    <script src="/map"></script>
    <script src="/script"></script>
</body>
</html>
